    layout {
        gaps 16 // Gap between windows
        center-focused-column "never"
        background-color "transparent" // Show Noctalia wallpaper behind transparent windows

        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
        }

        default-column-width { proportion 0.5; }

        // Drop shadows for windows
        shadow {
            softness 30
            spread 5
            offset x=0 y=5
            color "#0007"
        }

        struts {}
    }
