    prefer-no-csd
    screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

    environment {
        TERMINAL "kitty"
        FILE_MANAGER "nautilus"
        BROWSER "brave-origin"
        MY_FONT_SIZE "14"
        OZONE_PLATFORM_HINT "wayland"
        ELECTRON_OZONE_PLATFORM_HINT "wayland"
        QT_QPA_PLATFORM "wayland"
        QT_QPA_PLATFORMTHEME "qt6ct"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        GDK_BACKEND "wayland"
        CLUTTER_BACKEND "wayland"
        XDG_CURRENT_DESKTOP "niri"
        XDG_SESSION_TYPE "wayland"
    }

    cursor {
        xcursor-theme "capitaine-cursors"
        xcursor-size 24
    }

    debug {
        honor-xdg-activation-with-invalid-serial
    }

    hotkey-overlay {
        // skip-at-startup
    }
